html{
    font-size: 100%; //accessibility
    box-sizing: border-box; //
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin:0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-sm;
    font-weight: 300;
    color: $grayishBlue;
    line-height: 1.3;

    &.locked-scroll{
        overflow: hidden;
    }
}

h1, h2, h3{
    margin-top: 0px;
}

a, a:visited, a:hover {
    text-decoration: none;
}

.flex {
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }
    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }
}

//Buttons
button, .button{
    display:inline-block;
    cursor: pointer;
    padding: 0.875rem 2.1875rem;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    border-radius: 50px;
    border: 0;
    color: white;
    font-size: $font-sm;
    font-weight: 400;
    
    transition: opacity 300ms ease-in-out;
    &:hover{
        opacity: 0.75;
    }
}

//Spacing
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

//Visibility
.hide-for-mobile{
    @include breakpoint-down(medium){
        display:none;
    }
}

.hide-for-desktop{
    @include breakpoint-up(large){
        display:none;
    }
}